
#image {
    background-image: url("https://pictures.topspeed.com/IMG/crop/201712/lamborghini-urus-hyb_800x0w.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 800px;
    width: 100%; 
} 

body {
    background: lightblue ;
    font-family: 'Raleway', sans-serif;
    margin:0;
}

/*h1 {
    color: orange;
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
} */

h1.naslov-1{
  color:black ;
  text-align: center;
  font-size: 40px;
}

                                                        /*BUTTON*/
button {
  background-color:lightblue; 
  border-radius:12px;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;

}

button:hover {
   background-color:darkblue;
   color:white;
   box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.navigation ul {
    margin: 0px;
    color: yellowgreen;
    padding: 0px;
    text-align: center;
    display: inline;
    float: middle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
  /* background-color:#333; */
  padding: 20px 0px;
  margin:25px 150px;
  border: dotted;
}

p {
    text-align: center;
    font-size: 20px;
    color: blue;
    width:500px ;
    margin:auto;
}

                                                /*HEADER*/                                  
.header {
    overflow: hidden;
    background-color: #459fdb;
    padding: 50px 40px;
  }
  
  .header a {
    float: middle;
    color: black;
    text-align: middle;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    display: inline;
    padding: 50px;
    
    
  }
  
  .header a.logo {
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: middle;
    }
    .header-right {
      float: none;
    }
  }

  body {
    background:lightblue;
    display: block;
    flex-direction: column;
    width: 100%;
    margin:0 auto;
  } 

  .gluk {
    height: 40%;
    width: 100%;
    margin: 0 auto;
  }

  .my-youtube {
    text-decoration: none;
    -webkit-text-fill-color: rgb(25, 90, 90);
  }
