body {
    background: #999;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: orange;
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.navigation ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    text-align: center;
    font-size: 20px;
}